<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BE | Tenconi</title>
    <link
      rel='stylesheet'
      type='text/css'
      href='https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css'
    />
    <link rel='stylesheet' href='/css/styles.css' />
    <link rel='shortcut icon' href='/img/favicon.png' type='image/x-icon' />
</head>
<body>

    <header>
      <h1>backEnd e-Commerce</h1>
      
    <div>
      <a href='/user/register'>registro</a>
      <a href='/user/login'>login</a>
    </div>
    
      {{!-- <a href="/cart/miCart">mi cart</a> --}}
      
      
      <ul class='userNav' style="border:1px solid grey; padding:10px">
        <li>
          <div class='userNav__avatar'>
            <p>hello user</p>
          </div>          

          <ul>
            {{!-- <li><a href='/user/register'>registro</a></li>
            <li><a href='/user/login'>login</a></li> --}}
            <li><a href='/user/profile'>perfil</a></li>
            <li><a href='/cart/:id'>mi cart</a></li>
            <li><a href='/user/logout'>logout</a></li>
          </ul>
        </li>
      </ul>
    </header>

  {{>navBarAdmin}}
{{!-- {{#if req.session.user.rol}}
    {{>navBarUsers}}
{{else}}
    {{>navBarAdmin}}
{{/if}} --}}


   {{!--  <nav style="border:1px solid grey; padding:10px">
      <ul>
        <li><a href='/'>home</a></li>

        <li><a href='/products'>productos</a>
          <ul>
              <li><a href="">tech</a></li>
              <li><a href="">hogar</a></li>
              <li><a href="">sport</a></li>
              <li><a href="">varias</a></li>
            </ul>
          </li>

          <li class="admin">
            <a href='/products/add'>agregar productos</a>
          </li>
        </li>

        <li class="admin"><a href='/cart/all'>all carts</a></li>

        

        <li><a href='/chat'>chat room</a></li>
      </ul>
    </nav>
 --}}

    <div class="container">
        {{{body}}}
    </div>

     <footer>
      <p><strong>Daniel Tenconi</strong>
        | Entrega Final Coderhouse</em></p>
    </footer>
    
</body>
</html>