* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    height: 150px;
}
nav,
footer {
  background: royalblue;
  color: white;
  text-align: center;
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
nav ul li {
  position: relative;
  min-width: 120px;
  text-align: center;
}
nav ul li a,
nav ul li ul li a {
  padding: 10px 15px;
  display: block;
  text-decoration: none;
  color: white;
  height: 40px;
}
nav ul li ul {
  display: flex;
  flex-direction: column;
}
nav ul li ul {
  display: none;
}
nav ul li:hover > ul {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  background: lightskyblue;
  transition: all 0.15s ease-in-out;
}
nav ul li a:hover {
  background: rgba(40, 56, 102, 0.7);
  transition: all 0.15s ease-in-out;
}
footer{
    text-align: center;
    height: 150px;
    display: grid;
    align-items: center;
}
.userNav{
    display: flex;
    position: relative;
}
.userNav__avatar{
    background: lightblue;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer
}
.userNav li{
    display: block;
}
.userNav li ul{
    display: none;
}
.userNav li:hover > ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    background: lightblue;
    width: 100%;
    transition: all 0.25s ease-in-out;
}
.userNav li ul li a{
    color:#333;
    text-align: center;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}
.userNav :hover > .userNav__avatar{
    border: 3px solid royalblue;
    transition: all 0.15s ease-in-out;
}
.userNav li ul li a:hover{
    background: rgba(40, 56, 102, 0.7);
    color:white
}
.container{
    width: 90%;
    padding:25px 0 35px;
    max-width: 2200px;
    margin: auto;
    min-height: calc(100vh - 340px);
}
