<h2>Chat Room:</h2>

<form class="chatForm">
    <label for="message">Mensaje</label>
    <input type="text" name="message" id="message" class="chatField">
    <input type="submit" value="Send" class="chatBtn">
</form>

<div class="chatBox" id="chat"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>