*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: #eee;
    color: #222;
}
h1{
    padding: 1rem 0 2rem;
    color:royalblue;
}
.container{
    width: 90%;
    min-height:calc(100vh - 100px) ;
    max-width: 1200px;
    margin: 0 auto;
}
.portaUser{
    font-size: 20px;
    font-weight: 400;
    display: flex; 
    align-items: center;
    color:darkgrey;
}
.portaUser .user{
    font-size: 26px;
    font-weight: 600;
    color:limegreen;
    /* color:#555; */
    font-style: italic;
    margin-left: 0.7rem;
    
}
.portaUser .user::first-letter{
    text-transform: uppercase;
}
.chatForm{
    font-size: 18px;
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    gap: 1rem;
}
.chatForm label {
    text-align: right;
}
.chatField, .chatBtn {
    padding: 0.5rem;
    outline: none;
    border-radius: 0.3rem;
}
.chatBtn{
    background: lightgreen;
    border-color: green;
    cursor: pointer;
}
.chatBtn:hover{
    background: limegreen;
    color:#ffffff;    
}
.chatBox{
    padding: 1rem 0;
    width: 100%;
    background-color: #efffff;
    border-radius: 0.3rem;
    font-size: 16px;
}
.chatBox p{
    padding: 0 1rem;
}
.chatBox{
    line-height: 1.5;
}
.chatBox p:nth-child(even){
    background: #fff;
}
.swal2-styled.swal2-confirm {
    background: green!important;
}
footer{
    height: 50px;
    display: grid;
    place-items: center;
    background: royalblue;
    font-size: 14px;
    color:whitesmoke;
    margin-top: 50px;
}