<div class="notification">
    <p>OOPS 🤨  ¡Error!</p>
    <p>ha  ocurido un error. Vuelve a intentarlo.</p>
    <button onclick="location.href='/user/login'">login</button>
</div>


{{#if error}}
    <div>
        <p>{{error}}</p>
    </div>
{{/if}}