<div class='container__registros'>

  <form action='/user/register'  method='post' class='form__reg'>
    <h3>Registrese con su email</h3>
    <input type="url" placeholder='pega la url img' name="thumbnail" id="thumbnail">
    <input type='text' placeholder='nombre' id='name' name='name' />
    <input type='text' placeholder='apellido' id='surname' name='surname' />
    <input type='email' placeholder='email' id='email' name='email' />
    <input type='password' placeholder='contraseña' id='password' name='password' />

  {{!--   
  // El rol se agregará por defecto<div class='form__reg--option'>
      <label for='rol_a'>
        <p>admin</p>
        <input type='radio' name='rol' id='rol_a' value='admin' />
      </label>

      <label for='rol_u'>
        <p>user</p>
        <input type='radio' name='rol' id='rol_u' value='user' checked />
      </label>
    </div> 
    --}}

    <input type='submit' value='registrarme' />
  </form>

  <div class='form__op'>
    <div class='form__op--option'>
      <h3>Registrese con G-Mail</h3>
      <button onclick="location.href='/user/registroGoogle'">G-Mail</button>
    </div>

    <div class='form__op--option'>
      <h3>Registrese con GitHub</h3>
      <button onclick="location.href='/user/registroGitHub'">Git Hub</button>
    </div>
  </div>

</div>