<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/styles.css' />
    <title>Tenconi</title>
    <link
      rel='stylesheet'
      type='text/css'
      href='https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css'
    />
    <link rel='stylesheet' href='/css/styles.css' />
    <link rel='shortcut icon' href='/img/favicon.png' type='image/x-icon' />
  </head>

  <body>
    <header>
      <h1>clase 25: Segunda Práctica Integradora</h1>
      <ul class='userNav'>
        <li>
          <div class='userNav__avatar'>
            <p>user</p>
          </div>

          <ul>
            <li><a href='/user/register'>registro</a></li>
            <li><a href='/user/login'>login</a></li>
            <li><a href='/user/profile'>perfil</a></li>
            <li><a href='/user/logout'>logout</a></li>
          </ul>
        </li>
      </ul>
    </header>

    <nav>
      <ul>
        <li><a href='/'>home</a></li>
        <li><a href='/products'>productos</a>
          <ul>
            <li><a href='/products'>todos</a></li>
            <li><a href='/products/agregar'>agregar</a></li>
          </ul>
        </li>
        <li><a href='/'>carts</a>
          <ul>
            <li><a href='/cart'>mi cart</a></li>
            <li><a href='/cart'>todos</a></li>
          </ul>
        </li>

        <li><a href='/chat'>chat room</a></li>
      </ul>
    </nav>

    <div class='container'>
      {{{body}}}
    </div>

    <footer>
      <p><strong>Daniel Tenconi</strong>
        | clase 25:
        <em>Segunda Práctica Integradora</em></p>
    </footer>

  </body>

</html>