* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 90%;
  margin: auto;
  padding: 2rem 0 3rem;
}
footer{
  background:lightblue;
  color:white;
  text-align: center;
  height: 10rem;
  width: 100%;
  display: grid;
  align-items: center;
}

/* Profile Card */
.profile__card {
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: cornsilk;
  display: grid;
  grid-template-columns: auto 70%;
  grid-template-rows: auto;
  gap: 1.5rem;
  grid-template-areas: 
  "prof_img prof_info"
  "prof_img prof_btns";
}
.profile__card--img {
  overflow: hidden;
  object-fit: cover;
  aspect-ratio: 1/1;
  display: flex;
  grid-area: prof_img;
}
.profile__card--img img {
  object-fit: cover;
}
.profile__card--info{
  color:royalblue;
  grid-area: prof_info;
}
.profile__card--info p span{
  color:royalblue
}
.profile__card--buttons{
  grid-area: prof_btns;
}
