*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: #eee;
    color: #222;
}
header {
    height: 5rem;
    display: grid;
    align-items: center;
    margin: 0px 5%;
}
h1{
    margin: 0px;
}
nav{
    background: royalblue;
    color:white;
    padding:0 5%;
    height: 4rem;
    display: grid;
    align-items: center;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li{
    padding: 0.5rem 1rem;
}
nav ul li a {
    padding:0;
    color:white;
    text-decoration: none;
}
.container{
    width: 90%;
    min-height:calc(100vh - 20rem) ;
    max-width: 1920px;
    margin: 1.5rem auto 2.5rem;
}
footer{
    height: 7rem;
    display: grid;
    place-items: center;
    background: royalblue;
    font-size: 14px;
    color:whitesmoke;
}
input:not(input[type="submit"]){
    font-size: 14px;
    padding:0.5rem 1rem;
    margin-bottom: 0.5rem;
}
input[type="submit"], button{
    font-size: 16px;
    background: green;
    color:whitesmoke;
    padding:0.5rem 1rem;
    cursor: pointer;
}

/*  cards */
.portaCards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px , 1fr));
    gap:2rem;
}
.card{
    overflow: hidden;
    background: whitesmoke;
    border-radius: 0.5rem;
    box-shadow: 0 1rem 1.5rem silver;
    padding-bottom: 1.5rem;
    display: grid;
}
.card__img{
overflow: hidden;
    aspect-ratio: 16/9;
    -webkit-aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__img img{
    width: 100%;
}
.card__info{
    padding:1rem 1rem 1.5rem;
}
.card .price{
    font-size: 24px;
    font-weight: 600;
    margin-top: 1.5rem;
    color:royalblue;
}
.card .btn_comprar{
    margin: 0 1rem;    
}
.cards__pagination{
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin-top: 1.5rem;
    background: silver;
}
.cards__pagination a{
    margin: 0 1rem;
}
