<div class="notification">
    <p>¡Error!</p>
    <p>Usuario no valido.</p>
    <p>No posee permisos para acceder a esta sección.</p>
    <button onclick="location.href='/user/login'">login</button>
</div>