<form action='/user/login' method='post'>
  <h3>inicia sesión</h3>
  <input type='email' placeholder='email' id='email' name='email' />
  <input
    type='password'
    placeholder='contraseña'
    id='password'
    name='password'
  />
  <br />
  <br />
  <input type='submit' value='login' />

</form>