<h2>Login</h2>

<form action="/users/login" method="post">
  Email:<br />
  <input type="email" name="email" id="email" /><br />
  Password:<br />
  <input type="password" name="password" id="password" /><br />
  <br />
  <input type="submit" value="INGRESAR" />
</form>

<br />
<br />
<br />
<br />
<h3>¿Nuevo Usuario?</h3><br/>
<button onclick="location.href='/users/registro'">Ir a registro</button>